<html>
	<head> </head>
	<body>
        <h1>Ten day forecast</h1>
		{% if forecast == [] %}
			<p>No forecast given</p>	
		{% else %}
            {% for i in forecast %}
                <p>{{i[0]}}</p>
                <p>{{i[1]}}</p>
                <p>{{i[2]}}</p>
                <p>{{i[3]}}</p>
                <p>{{i[4]}}</p>
                <p>{{i[5]}}</p>
                <p>{{i[6]}}</p>
                <br/>
            {% endfor &%}
            {% endfor %}
        {% endif %}
    </body>
</html>